.welcome {
    padding-top: 1rem;
}

.about {
    display: flex;
}


.about-text {
    padding-top: 0.8rem;
    padding-left: 5%;
    width: 220%;
}

.pics {
    padding-top: 0.8rem;
    padding-left: 1.3rem;
}

.food {
    padding-top: 2px;
    width: 68%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}