@font-face {
    font-family: "mexican";
    src: url(../../public/fonts/La\ Tequila.ttf);
}
.welcome {
    padding-top: 2.5rem;
    font-family: "mexican";
    color: red;
    font-size: 1rem;
}

.about {
    display: flex;
    /* background-color: red; */
    padding-bottom: 0px;
    height: 28rem;
}


.about-text {
    padding-top: 0.8rem;
    padding-left: 5%;
    padding-bottom: 5%;
    width: 220%;
    font-family: "mexican";
    /* background-color: red; */
    /* font-family: "mexican";
    line-height: 205%; */
}

.intro {
    font-family: "Dosis", sans-serif;
    line-height: 205%;
    font-size: 1.04rem;
    color: green
}

.pics {
    padding-top: 2.2rem;
    padding-left: 1.3rem;
    width: 155%;
    /* overflow: hidden; */
}

.food {
    padding-top: 2px;
    width: 100%;
    /* display: block; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.three {
    visibility: hidden;
}

@media screen and (min-width: 700px) {
    

    .three {
      visibility: visible;
    }

    .about {
        display: block;
        height: 100%;
    }

    .about-text {
        justify-content: center;
        text-align: center;
        /* background-color: red; */
        width: 100%;
        padding-bottom: 0rem;
    }

    .intro {
        font-size: 1.5rem;
        padding-right: 4%;
    }

    .pics {
        padding-right: 1.3%;
        margin-top: -1.5rem;
        /* background-color: blue; */
        display: flex;
        padding-bottom: 10rem;
        /* padding: 0.5rem; */
        justify-content: center;
        width: 100%;
        overflow: hidden;

    }

    .food {
        height: 22.5rem;
        /* background-color: red; */
        width: 40%;
        padding: 0.2rem;
    }

    .one {
        object-fit: cover;
        /* width: 28rem; */
    }


}