.hero-container {
    background: url("../../public/images/taquitos.jpg") center center/cover no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    /* object-fit: contain; */
    /* margin-top: 20px; */
}



@media screen and (min-width: 1300px) {
    .hero-container {
        background-position: 0rem -30rem
    }
}
