.store-info {
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.location {
  /* background-color: blue; */
  width: 100%;
}

.hours {
  /* background-color: yellow; */
  width: 100%;
}

.socials {
  width: 100%;
}

.social-pic {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  padding: 2.5rem 0.9rem;
}
