@font-face {
  font-family: "mexican";
  src: url("../../public/fonts/La Tequila Out.ttf");
}

.header {
  padding-top: 1.3rem;
  padding-bottom: 0.6rem;
  font-family: "mexican";
  color: red;
  font-size: 0.8rem;
}



.theme {
  color: green;
  font-family: "Dosis", sans-serif;
  font-size: 0.5rem;
}

.address {
  font-size: 1rem;
}

.store-info {
  /* padding-top: 2%; */
  /* font-size: 0.55rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
}

.location {
  /* background-color: blue; */
  width: 110%;
  padding-right: 0.7rem
}

.hours {
  /* background-color: yellow; */
  width: 100%;
  font-size: 1.1rem;
}

.socials {
  width: 100%;
}

.social-pic {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-brands {
  padding: 2.0rem 1rem;
  color: green
}

@media screen and (min-width: 1300px) {

  .theme {
    font-size: 1.1rem;
  }

  .header {
    font-size: 1.1rem;
  }



}
