.square {
    text-align: center;
    width: 50%;
    /* background-color: red; */
  }
  
  .address {
  }
  
  .hours {
    text-align: center;
    width: 50%;
    /* background-color: red; */
  }
  